* {
    font-family: 'gotham';
}

@font-face {
    font-family: 'gotham';
    src: url("fonts/gotham_light.otf") format("opentype");
}

html, body {
    background-color: black;
}

h1 {
    color: white;
}

#header-2 {
    font-style: italic;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

#user-form {
    text-align: center;
    margin: auto;
}

#username {
    text-align: center;
    border-radius: 20px; 
    width: 300px; 
    height: 40px; 
    margin-bottom: 5px;
    font-size: 20px;
}

.button {
    font-size: 15px;
}

.planet-image {
    position: relative;
    text-align: center;
    top: 75px;
    flex: 12.5%;
    font-size: 40px;
    color: white;
}

.label {
    text-align: center;
}

.collapsible {
    background-color: black;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    display: none;
    overflow: hidden;
    background-color: grey;
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 18px;
}

#right-arrow {
    position: absolute;
    top: 300px;
    right: 0px;
    font-size: 50px;
}

#icon-bar {
    width: auto; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
    margin: 5px;
}
  
#icon-bar a {
    float: right;
    text-align: center; /* Center-align text */
    width: auto;
    padding: 10px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 25px; /* Increased font-size */
}
  
#icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}
  
.active {
    background-color: #4CAF50; /* Add an active/current color */
}

.multiple-choice {
    color: white;
}

.hidden {
    display: none;
}

.show {
    display: flex;
    width: 5000px;
}

#reset {
    display: none;
    position: absolute;
    left: 50%;
    font-size: 20px;
}